# Ignore common files and directories
.git
.vscode
.idea
node_modules
*.log
*-lock.json

# Ignore development and build artifacts
__pycache__
.coverage
*.pyc
*.pyo
*.pyd
*.so
*.o
*.a
*.swp
*.swo
*.swx
*.swn
*.swo
*.swp
*.bak
*.tmp
*.temp
*.out
*.pid
*.pid.lock
*.db
*.sqlite3
*.pyz
*.pyw
*.pywz
*.gz
*.tar
*.zip
*.rar
*.7z
*.bz2
*.xz
*.lzma
*.egg-info
*.dist-info
*.egg
*.whl


# Ignore user-specific files and directories
.DS_Store
Thumbs.db
